[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "EMSaov"]
	path = EMSaov
	url = https://github.com/cran/EMSaov
[submodule "PKconverter"]
	path = PKconverter
	url = https://github.com/cran/PKconverter
[submodule "PPtreeViz"]
	path = PPtreeViz
	url = https://github.com/cran/PPtreeViz
[submodule "nlmeVPC"]
	path = nlmeVPC
	url = https://github.com/cran/nlmeVPC
